@font-face {
	font-family: Neue;
	src:url("../fonts/BebasNeue.otf");
}
@font-face {
	font-family: Contador;
	src:url("../fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: Myria;
  src:url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
	font-family: vermin;
	src:url("../fonts/vermin_vibes_redux.ttf");
}
p{font-family: Myria;}
h1,h2,h3,h4,{font-family: Neue!important;}
header{    width: 100%; z-index: 999}
.onix{font-family: vermin !important}
.navbar{margin-bottom: 0 !important; border:none !important;}
.header{background: #ffffff; position: relative; border-top: 18px solid black;padding: 20px 0 }
.header img, .linea img{width: 680px; margin: 0 auto; position: relative}
.img{padding: 10px;}
.row{margin: 0 !important}

.fondo{padding-top: 90px;padding-bottom: 90px; background-size: 100%!important; border-top: 1px solid; position: relative; background:url(../images/fondo_parallax.jpg) 50% 0 no-repeat fixed;}
.fondo>img{width: 100%;height: 600px}
.info{position: absolute !important;z-index: 1;top: 130px;}
.text{padding: 24px;}
.text-title-road{color: black;font-style: arial;font-size: 24pt}
.text-p-road{font-size: 12pt; font-weight: bold;color: #e49d0e}
.center h1{padding-bottom: 8px;margin: 0; color: black;text-align: center; font-family: MyriaPro!important}
.center p{color: black;text-align: center; font-size: 12pt}
.center input{border: 1px solid !important; background: transparent;height: 32px;}
.center button{margin-top: 12px;background: black !important; border-radius: 2px;border: transparent;color: #fff;height: 31px;width: 68px}
.hours{border-bottom: 4px solid #E9AD29; margin-top: 60px; min-height: 147px; padding: 10px 0}
.hours img{position: absolute; bottom: 0}
.fondo-ficha{background: url(../images/fondo_ficha.jpg) no-repeat fixed;   background-size: 100%;  padding-top: 26px; padding-bottom: 26px;}
.ficha{position: absolute;top: 49%;width: 66%; margin: 0 auto;}
.ficha>img{width: 100%;}
.background{background: #e49d0e;padding: 20px !important;}
.border{border-bottom: 3px solid black;}
.footer{background: url(../images//web/moneda-footer.png) no-repeat; background-position: right;}
.redes img{width: 30px;}
.col-md-5{padding-left: 0 !important;}
.pager{margin: 13px 0 !important;}
.top p{color: black;font-size: 10pt;}
.font-h3{font-family: MyriaPro!important;margin: 0; text-align: center;}
.redes{}
.redes h3{float: left; font-size: 14pt;}
.redes ul li{float: left;text-decoration: none; width: 18%;list-style: none;}
.navbar-default{background: #e49d0e!important}
.texto-bienvenida{font-size: 64px; text-align: center; color:black text-shadow: 1px 0px 10px #fff}
.texto-ficha-tecnica{color:black; text-shadow: 1px 0px 10px #ffde8c;}
.navbar-default .navbar-nav>li>a{color: black;font-family: Myria;font-size: 14pt;}
.navbar-default .navbar-nav>li>a:hover{color: black}
.contador{border:1px solid #5e5d5d;	}
.contador p{color:gold; text-align: center; font-size: 14pt;font-family: Neue; background-color: #000 }
.contador:last-child p{margin-bottom: 0}
.contador-numero{font-size: 52pt !important; font-family: Contador !important; font-weight: bold}
.fondo-ficha > .center-block{background-repeat: no-repeat !important; padding: 20px; background: url("../images/ficha_tecnica.png"); background-position: center; width: 60%}
.navbar-brand{padding:0;}
/* WEBSITE */
.min-header{background: black;}
.registro li{float: left !important;}
.registro li a{color: #fff; }
.registro li a:hover{background: #E49D0E !important; color:black !important;}
.registro li a:hover{color: black; background: white}
.registro li a h4:hover{color: black!important}
.registro li a h4{font-size: 12pt;font-family: Myria;}
.menu{background-color: #e49d0e;}
.menu>li{float: left !important;}
.menu>li>a{padding: 0; width: 125px;text-align: center;-webkit-transition: width 1s;transition: width 1s;color: black}
.menu>li>a>p{font-size: 12pt;margin: 10px;}
.menu>li>a:hover{
    color: black;
    background: #e49d0e !important;
    border: 0.8pt solid white;
    width: 130px; 
}
.na-ul li a{color: black!important}
.logo .img-logo a{border: none !important}
.logo .img-logo a img{border: none !important; width: 120px;-webkit-transition: width 1s;transition: width 1s;
}
.logo .img-logo a img:hover{ width: 140px;}
.logo .img-logo a:hover{margin: 0 !important; }
.navbar-collapse{padding: 0 !important;}
.proy-onix{color: black; font-size: 16pt; font-family: Neue;margin-top: 40px}
.dorado{background-color:#e49d0e; min-height: 10px !important;}
.lead p{font-size: 14pt !important; color: white;text-align: center;margin-top: 50px;border-bottom: 1px solid #e49d0e;padding-bottom: 10px;}
.fondo2{padding-bottom: 50px;background:url(../images/web/fondo-laptop.jpg) ; background-position: center center; background-size: 100% 100%}
.transp{opacity: 0.70; min-height: 238px;background: white !important;margin-top: 50px;border-radius: 3px; padding: 30px 5px 5px 5px;}
.transp:hover{opacity: 1;}
.transp .img-p>p{color: #e49d0e; border-bottom: 1px solid #e49d0e; width: 64%; font-family: Neue;font-size: 12pt;}
.transp p{color: black; text-align: center;    font-size: 9pt;}
.background-dorado{background:#e49d0e; padding: 50px;}
.tex h1{color: white; font-size: 40pt;margin: 0;}
.tex p{font-size: 14pt;color: white}
.aplications li{float: left; margin-left: 65px;}
.col-md-10{padding: 0 !important}
.btn-modifi{padding: 4px 23px !important; background:black !important;margin-top: 12px;font-size: 14pt!important}
.btn-modifi:hover{background:white !important; color: black!important}
.background-black{background:black; padding-top: 50px;padding-bottom: 50px;}
.tex h3{color: white;padding-bottom: 20px;}
.comunidad li{float: left;}
.comunidad li a:hover{background: transparent;}
.float{float: right !important;}
.border-footer{background: url(../images/fondo_ficha.jpg) repeat fixed;}
.margin{margin-left: 66px!important;}
.fondo-info{background-size: 100%!important; border-top: 1px solid; position: relative; background:url(../images/web/fondo-banner.jpg) 50% 0 no-repeat fixed;}
.font p{font-family: Neue;font-size: 18pt}
.dowload{font-family: vermin !important; font-weight: bold; margin: 0; padding: 15px;color: black}
.border-dowload{border-bottom: 1px solid black;padding-bottom: 0;}
.top-button{margin-top: 6%;}
.dispo li{ margin-right: 0; float: left; }
.border-top{border-top: 2px solid black; }
.comercios-color{background: #e49d0e;padding: 10px;}
.tex{color: black !important}
.block-comercio{padding: 5px; background: white;}
.block-comercio p{font-size: 12pt; color: black; text-align: justify;}
.bord{background: #e49d0e;padding: 1px;}
.background-blog{background: url(../images/fondo_ficha.jpg) repeat fixed;}
.input-modi{margin-top: 14px;}
.text-blog{font-size: 11pt;text-align: justify;}
.article-borde{border-bottom: 1px solid #cccccc! important;}
.input-modi input{padding: 4px; width: 240px;}
.img-blog-min img{min-width: 90px; max-width: 90px;}
.article-blog{background:white;margin: 10px 10px;max-height: 260px;min-height: 260px !important;}
.info-blog{background-color: white}
.seach{background: #cccccc;margin-top: 10px;}
.font a{color: #e49d0e !important}
.contact{background-color:#e49d0e;padding: 20px;}
.contact p{color: black;font-size: 12pt;}
.contact> .col-md-7{padding-left: 0}
.ico{font-size: 18pt;color: white !important}
.banner{width: 336px !important; height: 280px;margin: 8px 7px; border:1px solid;}
.olv-cont{text-align: center; border: none !important;}
.olv-cont a{color: black}
.input-sesion{padding-left: 25px !important;height: 27px; border: transparent;background: transparent;border-bottom: 2px solid white; font-size: 12pt;color: black}
.ico-email,
.ico-pass,
.ico-pass-repeat
.ico-search
{
    position: absolute;
    top: 1px;
    width: 25px;
    height: 25px;
    background: url(../images/web/icon-correo.png);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-search{background: url(../images/web/search.png);width: 25px;height: 25px;position: absolute;top: 0;right: 88px}
.ico-pass{background: url(../images/web/candado-icon.png);top:82px;}
.ico-pass-repeat{background: url(../images/web/confirma-clave.png) !important;}

input::-webkit-input-placeholder {
 color: black;
}
input:-moz-placeholder {
  color: black; 
}
input:-ms-input-placeholder { 
  color: black; 
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{color: white;background: black}
.dropdown-menu>li>a{color: black}
.dropdown-menu>li>a:hover{background: black;color: white}
.comunid{padding:0;font-size: 21pt;text-align: center}
.aplications .text-apli{    
    background:black;
    color: white;
    opacity: 0.85;
    position: absolute;
    z-index: 1;
    width: 94px;
    padding-top: 30px;
    height: 80px;
    text-align: center;
    top: 0px;
    font-size: 8pt;
    display: none;
    left: -8px;
  }
  .col-md-12{padding:0;}
 .hover:hover .text-apli{display: block;} 
 .text-apli p{font-weight: bold;}
 .fondo-road{background:url(../images/web/road-mapfondo.jpg); background-size: 100%;}
 .text-road{    margin: 0;
    text-align: center;
    padding-top: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: floralwhite;
    -o-text-stroke-width: 2px;
    -o-text-stroke-color: floralwhite;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: floralwhite;
    text-stroke-width: 2px;
    text-stroke-color: floralwhite;
    font-size: 40pt;
    text-shadow: 3px 1px 0px #fff, 2px 2px 0px rgba(0,0,0,0.15);
    color: black;}
.text-road h2{color black}
.text-road p{font-size: 12pt}
.navbar{min-height: 0 !important}
.navbar-toggle{
    position: fixed !important;
    z-index: 1;
    right: 0;
    background-color: white!important;
    color: white;
    top: -2px;
}
.modal-footer{background: black}
.navbar-nav>li>.dropdown-menu{border: 1px solid #e49d0e}
legend {
    border: none;
    padding-right: 6px;
    margin-bottom: 4px;
    padding-left: 6px;
    width: auto;
    font-size: 18pt;
    font-family: vermin !important;
    color: black;
    font-weight: bold;
}
fieldset {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}
.font-size p{font-size: 8pt;}
.font-size input{background: transparent;border:1px solid;height: 24px;}
.image-proy{width: 52%;}
.border{border-bottom: 1px solid #e49d0e;padding:0;width: 20%}
.social li a{color: black;text-align: center;font-size: 9pt; font-family:  Myria;}
.social li a:hover{color: #e49d0e}
@media (max-width: 992px)
{
  .lead p{font-size: 13pt !important}
  .comunid{font-size: 16pt}
  .border{width: 72%}
.texto-bienvenida{font-size: 20pt; text-align: center; color:#fff}
.texto-ficha-tecnica{font-size: 20pt; color:black; text-shadow: 1px 0px 10px #ffde8c}
.contador-numero{font-size: 20pt !important; font-family: Contador !important; font-weight: bold}
.contador p{color:gold; text-align: center; font-size: 15pt;font-family: Neue; background-color: #000 }
.fondo-ficha{background: url(../images/fondo_ficha.jpg) repeat fixed;   background-size: 100%;  padding-top: 26px; padding-bottom: 26px;}
.fondo{margin-top: 0;padding-top: 30px;padding-bottom: 30px; background-size: 100%!important; border-top: 1px solid; position: relative; background:url(../images/fondo_parallax.jpg) 50% 0 repeat fixed;}
.redes{top: 10px; width: 80%;}
.fondo-ficha > .center-block{width: 98%;}
.proy-onix{font-size: 9pt}
.image-proy{width: 50%}
.min-header{position: fixed !important;z-index: 1; background: #e49d0e;}
  .tex h1{font-size: 26pt !important;}
  .tex p{font-size: 12pt !important;}
  .aplications li{margin-left: 10px;}
  .center h1{font-size: 25pt;}
  .comuni{margin-top: 0 !important}
  .header img, .linea img{width: 300px;}
  .footer{padding-bottom: 20px;}
  .fondo{background-size: 100%!important; border-top: 1px solid; position: relative; background:url(../images/web/fondo-movil.jpg) 50% 0 repeat fixed;}
  .fondo-info{background-size: 100%!important; border-top: 1px solid; position: relative; background:url(../images/web/fondo-banner.jpg) 50% 0 no-repeat fixed;}
  .font p{padding-left: 0;font-size: 10pt;text-align: center;}
  .contact{margin-top: 45px;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{color: black}
  .registro li a h4{font-size: 7pt}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{position: fixed;
    z-index: 1;background: #e49d0e;width: 100%;}
  .social li a{float: left;}
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: none;
    text-indent: -9999px; background-size: 100% 100%; background-position: center;
    background: url(../images/arriba.png) no-repeat;
    z-index: 1020;
}