<div class="background-dorado row">
		<div class="col-md-4 col-xs-12">
			<center><img class="img-responsive" src="static/images/web/wallet.png"></center>
		</div>
		<div class="col-md-7 col-xs-12">
			<div class="tex">
				<h1>Descarga nuestra Wallet</h1>
				<p>Descarga la wallet para iniciar disfrutando de los beneficios que ofrece Onix.</p>
			</div>
			<div class="row col-md-8 col-xs-12">
				<ul class="nav aplications">
					<li class="hover">
						<img width="54" src="static/images/web/android.png">
						<div class="text-apli">
							<p>PRÓXIMAMENTE</p>
						</div>
					</li>
					<li class="hover">
						<img src="static/images/web/ios.png">
						<div class="text-apli">
							<p>PRÓXIMAMENTE</p>
						</div>	
					</li>
					<li class="hover"><a target="_blank" href="https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg">
						<img src="static/images/web/windows.png">
						<div class="text-apli">
							<p>DISPONIBLE</p>
						</div>	
					</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	
	<div class="background-black tex">
		<div>
			<center>
				<h3 class="font-h3">INTÉGRATE A NUESTRA VIBRANTE COMUNIDAD!</h3>
			</center>
			<ul class="nav comunidad col-md-offset-4 col-xs-offset-2">
				<li class="col-md-3 col-xs-12"><a href="#"><img src="static/images/web/logo-onix-blanco.png"></a></li>
				<li class="col-md-3 col-xs-12"><a href="https://bitcointalk.org/" target="_blank"><img src="static/images/web/bitcoin-logo-blanco.png"></a></li>
				
			</ul>
		</div>
	</div>

	<div class="background col-md-12 hidden-xs">
			<div class="center">
				<h1>Inscríbete en Newsletter</h1>
				<p>Cóntactenos y háganos saber si tiene alguna pregunta. <br>
					No te olvides de suscribirte para más cosas impresionantes escribiendo el correo a continuación.
				</p>
				<center>
					<form class="col-md-12 col-xs-12" method="post">
						<input type="hidden" name="redirect" value="{{ CURRENT_URL }}">
						<input type="email" name="mail" required = "required" placeholder="  Correo electrónico">
						<button>Ingresa</button>
						<input type="hidden" name="csrftoken" value="{{ csrftoken }}">
					</form>

				</center>
			</div>		
		</div>
		
</section>	
<div class="clearfix"></div>

<div class="footer row">
	<div class="col-md-4 col-md-offset-4 col-md-xs-0">
		<br>
		<h3 class="font-h3 ">Síguenos</h3>
		<div class="navbar-header col-md-offset-3 col-md-xs-0">
			<ul class="nav navbar-nav social">
				<li class="col-xs-offset-2 col-md-offset-0">
					<a target="_blank" href="https://www.facebook.com/onixcoin"><img src="static/images/web/facebook-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/onix_coin"><img src="static/images/web/twitter-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="#"><img src="static/images/web/google-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="#"><img src="static/images/web/youtube-gold.png"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 hidden-xs"><br><br>
	<center><h4 class="dowload border ">ENLACES IMPORTANTES</h4></center>
		<div class="navbar-header col-md-offset-2 col-xs-12 col-md-10">
			<ul class="nav navbar-nav social" style="margin: 0;">
				<li><a href="#">COMPRAR</a></li>
				<li><a href="#">VENDER</a></li>
				<li><a href="#">TESTIMONIALES</a></li>
				<li><a href="#">COMO VERIFICAR</a></li>
				<li><a href="#">DONDE GASTAR BITCOINS</a></li>
				<li><a href="#">PREGUNTAS FRECUENTES</a></li>
				<li><a href="#">CONTACTA CON NOSOTROS</a></li>
			</ul>
		</div>
	</div>
<div class="clearfix"></div>
</div>

<div class="border-footer"><br><br><br></div>

<script src="/static/js/jquery.js" type="text/javascript"></script>
<script>
    $(function(){
        {% if message %}
            mostrarMensaje("{{ message }}");
        {% endif %}
    })
</script>

