<div class="fondo2">
		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>PRIVADA</p>
						</div>	
						<p>Mantén tus pagos privados.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/segura.png">
							<p>SEGURA</p>
						</div>	
						<p>Los pagos son recibidos al instante.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>INSTANTÁNEA</p>
						</div>	
						<p>Encriptación avanzada y red de <br> dos niveles para completa <br> seguridad.</p>
					</center>
				</article>
			</div>
		</div>

		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/comisiones.png">
							<p>COMISIONES CASI NULAS</p>
						</div>	
						<p>Mucho más bajas que con <br> bancos o tarjetas de crédito, <br> con frecuencía son gratís.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/peer.png">
							<p>PEER TO PEER</p>
						</div>	
						<p>Usa una red descentralizada, <br> por lo que no hace falta confiar <br> en terceros que coordinen.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/global.png">
							<p>GLOBAL</p>
						</div>	
						<p>Puedes enviar dinero a cualquier <br> lugar del mundo.</p>
					</center>
				</article>
			</div>
		</div>
	</div>
	<div class="fondo-ficha">
		<div class="center-block">
			<h1 class="texto-ficha-tecnica">TIPO: POW</h1>
			<h1 class="texto-ficha-tecnica">HASHING ALGO: X11</h1>
			<h1 class="texto-ficha-tecnica">RETARGETING ALGO: Dark Gravity Wave</h1>
			<h1 class="texto-ficha-tecnica">TIEMPO ENTRE BLOQUES: <b>180 segs</b></h1>
			<h1 class="texto-ficha-tecnica" style="font-size: 22pt;">TIEMPO DE RE CALCULO DE DIFICULTAD: <b>24 horas</b></h1>
			<h1 class="texto-ficha-tecnica">TAMAÑO DE BLOQUES: <b>4mb</b></h1>
			<h1 class="texto-ficha-tecnica">HALVING: <STRONG>NO HALVING!</STRONG></h1>
			<h1 class="texto-ficha-tecnica">BLOCK REWARD: <b>60 ONIX</b> POR SIEMPRE!</h1>
		</div>
	</div>