<div class="background-dorado row">
		<div class="col-md-4 col-xs-12">
			<center><img class="img-responsive" src="static/images/web/wallet.png"></center>
		</div>
		<div class="col-md-7 col-xs-12">
			<div class="tex">
				<h1>Download our wallet</h1>
				<p>Download the wallet to start enjoying the benefits offered by Onix.</p>
			</div>
			<div class="row col-md-8 col-xs-12">
				<ul class="nav aplications">
					<li class="hover">
						<img width="54" src="static/images/web/android.png">
						<div class="text-apli">
							<p>coming soon</p>
						</div>
					</li>
					<li class="hover">
						<img src="static/images/web/ios.png">
						<div class="text-apli">
							<p>coming soon</p>
						</div>	
					</li>
					<li class="hover"><a target="_blank" href="https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg">
						<img src="static/images/web/windows.png">
						<div class="text-apli">
							<p>available</p>
						</div>	
					</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	
	<div class="background-black tex">
		<div>
			<center>
				<h3 class="font-h3">JOIN OUR VIBRANT COMMUNITY!</h3>
			</center>
			<ul class="nav comunidad col-md-offset-4 col-xs-offset-2">
				<li class="col-md-3 col-xs-12"><a href="#"><img src="static/images/web/logo-onix-blanco.png"></a></li>
				<li class="col-md-3 col-xs-12"><a href="https://bitcointalk.org/" target="_blank"><img src="static/images/web/bitcoin-logo-blanco.png"></a></li>
				
			</ul>
		</div>
	</div>

	<div class="background col-md-12 hidden-xs">
			<div class="center">
				<h1>Subscribe to our newsletterr</h1>
				<p>Contact us and let us know if you have any questions. <br>
					Do not forget to subscribe for more awesome news and updates by writing your email below.
				</p>
				<center>
					<form class="col-md-12 col-xs-12" method="post">
						<input type="hidden" name="redirect" value="{{ CURRENT_URL }}">
						<input type="email" name="mail" required = "required" placeholder="  Email">
						<button>Access</button>
						<input type="hidden" name="csrftoken" value="{{ csrftoken }}">
					</form>

				</center>
			</div>		
		</div>
		
</section>	
<div class="clearfix"></div>

<div class="footer row">
	<div class="col-md-4 col-md-offset-4 col-md-xs-0">
		<br>
		<h3 class="font-h3 ">Contact us</h3>
		<div class="navbar-header col-md-offset-3 col-md-xs-0">
			<ul class="nav navbar-nav social">
				<li class="col-xs-offset-2 col-md-offset-0">
					<a target="_blank" href="https://www.facebook.com/onixcoin"><img src="static/images/web/facebook-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/onix_coin"><img src="static/images/web/twitter-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="#"><img src="static/images/web/google-gold.png"></a>
				</li>
				<li>
					<a target="_blank" href="#"><img src="static/images/web/youtube-gold.png"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 hidden-xs"><br><br>
	<center><h4 class="dowload border ">IMPORTANT LINKS</h4></center>
		<div class="navbar-header col-md-offset-2 col-xs-12 col-md-10">
			<ul class="nav navbar-nav social" style="margin: 0;">
				<li><a href="#">TO BUY</a></li>
				<li><a href="#">TO SELL</a></li>
				<li><a href="#">TESTIMONIALS</a></li>
				<li><a href="#">HOW TO CHECK</a></li>
				<li><a href="#">WHERE TO SPEND BITCOINS</a></li>
				<li><a href="#">FREQUENT QUESTIONS</a></li>
				<li><a href="#">CONTACT US</a></li>
			</ul>
		</div>
	</div>
<div class="clearfix"></div>
</div>

<div class="border-footer"><br><br><br></div>

<script src="/static/js/jquery.js" type="text/javascript"></script>
</body>
</html>