<a href="#" class="scrollup" style="display: inline;">Scroll</a>

<header>
		<section>
			<!--<div class="row">
				<div class="col-md-12 col-xs-12 min-header">
					<div class="col-md-0 col-xs-3 visible-xs visible-sm"><a href="/"><img width="110" to src="/static/images/web/logo_onix.png" alt="" style="margin-top:4px"></a></div>
					<div class="col-md-3 col-xs-8 pull-right">
						<ul class="nav registro">
							<li>
								<a href="/registro"><h4>REGÍSTRATE</h4></a>
							</li>
							<li>
								<a href="/sesion"><h4>INICIA SESIÓN</h4></a>
							</li>
						</ul>					
					</div>
				</div>
			</div>-->
			
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/"><img class="col-md-offset-1 col-md-xs-0" src="/static/images/web/logo_onix.png"></a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav container">
			        <li class="dropdown col-md-offset-3 col-md-xs-0">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/info">Onix Project</a></li>
                        <li><a href="/ficha">Data sheet</a></li>
                        <li><a href="/static/descarga/white-paper-onix-EN.pdf" >White paper</a></li>
                        <li><a href="/road">Road map</a></li>
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Forum</a></li>
                        <li><a href="https://bitcointalk.org/" target="_blank">bitcointalk.org</a></li>	
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Downloads <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/descarga">Wallet</a></li>
                        <li><a href="software">Mining software</a></li>	
			          </ul>
			        </li>

			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="http://pool.onixcoin.com/" target="_blank">Mining pool</a></li>
                        <li><a href="http://explorer.onixcoin.com/" target="_blank">Block explorer</a></li>    
			          </ul>
			        </li>

			        <li>
			          <a href="/contacto">Contact us </span></a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>		
		</section>	
	</header>
