<div class="fondo2">
		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>Private</p>
						</div>	
						<p>keep your payments private.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/segura.png">
							<p>Safe</p>
						</div>	
						<p>Payments are instantly received.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>Snappy</p>
						</div>	
						<p>Advanced encryption and two-level networking for complete security.</p>
					</center>
				</article>
			</div>
		</div>

		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/comisiones.png">
							<p>Almost null commissions</p>
						</div>	
						<p>Commissions are much lower than with banks or credit cards. they are frequently for free</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/peer.png">
							<p>Peer to Peer</p>
						</div>	
						<p>It uses a decentralized network, so you do not have to rely in third parties for coordination</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/global.png">
							<p>Global</p>
						</div>	
						<p>You can send money globally</p>
					</center>
				</article>
			</div>
		</div>
	</div>
	<div class="fondo-ficha">
		<div class="center-block">
			<h1 class="texto-ficha-tecnica">TIPO: POW</h1>
			<h1 class="texto-ficha-tecnica">HASHING ALGO: X11</h1>
			<h1 class="texto-ficha-tecnica">RETARGETING ALGO: DARK GRAVITY WAVE</h1>
			<h1 class="texto-ficha-tecnica">HALVING: <STRONG>NO HALVING!</STRONG></h1>
			<h1 class="texto-ficha-tecnica">BLOCK REWARD: 60 ONIX FOREVER!</h1>
		</div>
	</div>