<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<meta name=description content="Crypto moneda alternativa financiera para el mercado electrónico venezolano y el mundo.">
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon-onix.png">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/pe-icon-7-stroke.css">


<meta name="google-site-verification" content="7zN4ERHxTc3402W8aQVAiqNHZ0ZhObdaCda5E_iE2K4" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40203636-8', 'auto');
  ga('send', 'pageview');

</script>

	<title>{{titulo}}</title>
	{% block pixel %}

	{% endblock pixel %}
</head>
<body cz-shortcut-listen="true">
	{% block header %}
		{% include 'base/header.twig' %}
	{% endblock %}

	{% block content %}
		
	{% endblock%}

	{% block footer %}
		{% include 'base/footer.twig'%}
	{% endblock %}	

{% block js %}

{% endblock js %}

</body>
</html>
