{% extends "base.twig" %}
{% block content %}
	<section class="col-md-12">
	<div class="fondo-info" style="padding-top:20px; padding-bottom:20px;">
		<div class="col-md-offset-2 center-block">
			<div class="row">
				<div class="col-md-7 col-md-offset-2">
					<div class="contact" style="padding:0">
						<center><h2 class="dowload" style="padding: 0;border-bottom: 1px solid;">UNETE A LA COMUNIDAD</h2></center><br><br><br>
						<div class="col-md-3">
							<img width="130" src="static/images/web/wallet.png" alt="">
						</div>
						<div class="col-md-8 font-size">
							<h2 class="dowload" style="padding: 0;font-size: 18pt;">DESCARGA NUESTRA WALLET <br> Y RECIBE <span style="color:white;font-size:36px">60 ONIX</span> DE OBSEQUIO!</h2><br><br>
							<form method="post">
								<fieldset>
									<legend>REGISTRATE</legend>
									<p class="col-md-12 col-xs-12" style=""><span class="ico-email"></span>CORREO <br>
										<input class="col-md-12 col-xs-12" type="email">
									</p>
									<p class="col-md-6 col-xs-12"> <span class="ico-pass"></span>CONTRASEÑA<br>
										<input class="col-md-12 col-xs-12" type="pasword">
									</p>
									<p class="col-md-6 col-xs-12"><span class="ico-pass-repeat"></span>CONFIRMAR CONTRASEÑA<br>
										<input class="col-md-12 col-xs-12" type="pasword">
									</p>
								</fieldset>
							</form><br><br>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dorado"></div>
	</section>


	<div class="fondo2">
		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>PRIVADA</p>
						</div>	
						<p>Mantén tus pagos privados.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/segura.png">
							<p>SEGURA</p>
						</div>	
						<p>Los pagos son recibidos al instante.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/privada.png">
							<p>INSTANTÁNEA</p>
						</div>	
						<p>Encriptación avanzada y red de <br> dos niveles para completa <br> seguridad.</p>
					</center>
				</article>
			</div>
		</div>

		<div class="row ">
			<div class="col-md-2 col-md-offset-3">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/comisiones.png">
							<p>COMISIONES CASI NULAS</p>
						</div>	
						<p>Mucho más bajas que con <br> bancos o tarjetas de crédito, <br> con frecuencía son gratís.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/peer.png">
							<p>PEER TO PEER</p>
						</div>	
						<p>Usa una red descentralizada, <br> por lo que no hace falta confiar <br> en terceros que coordinen.</p>
					</center>
				</article>
			</div>
			<div class="col-md-2">
				<article class="transp">
					<center>
						<div class="img-p">	
							<img class="img-responsive" src="static/images/web/global.png">
							<p>GLOBAL</p>
						</div>	
						<p>Puedes enviar dinero a cualquier <br> lugar del mundo.</p>
					</center>
				</article>
			</div>
		</div>
	</div>


{% endblock %}