{% extends "base.twig" %}
{% block content %}
	
	<section class="col-md-12">
	<div class="fondo-info" style="padding-top:20px; padding-bottom:20px;">
		<div class="col-md-offset-2 center-block">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="contact">
						<center><h2 class="dowload">Contact us</h2> </center><br>
						<p class="col-md-7 col-md-offset-1">
						<span class="glyphicon glyphicon-envelope ico" style="position:absolute"></span>
						<input class="correo input-sesion" type="" placeholder="Email"></p>
						

						<div class="form-group col-md-10 col-md-offset-1">
							 <textarea class="form-control" rows="5" id="comment"  placeholder="Leave a comment "></textarea>
						</div>
						<div class="clearfix"></div>
						<button type="button" name="enviar" class="btn btn-modifi pull-right" style="color:white;    margin-right: 32px;">Submit</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dorado"></div>
	</section>

{% endblock %}