{% extends "base.twig" %}
{% block content%}
	<div class="fondo-ficha">
		<div class="center-block">
			<h1 class="texto-ficha-tecnica">TIPO: POW</h1>
			<h1 class="texto-ficha-tecnica">HASHING ALGO: X11</h1>
			<h1 class="texto-ficha-tecnica">RETARGETING ALGO: DARK GRAVITY WAVE</h1>
			<h1 class="texto-ficha-tecnica">HALVING: <STRONG>NO HALVING!</STRONG></h1>
			<h1 class="texto-ficha-tecnica">BLOCK REWARD: 60 ONX FOREVER!</h1>
		</div>
	</div>
{% endblock %}	