{% extends "base.twig" %}
{% block content%}
<section class="col-md-12">
	<div class="fondo-info" style="padding-top:50px;padding-bottom:50px;">
		<div class="center-block">
			<div class="row">
				<div class="col-md-3 col-xs-12 col-md-offset-3">
					<center>
						<img class="img-reponsive" src="static/images/web/moneda_onix.png">
					</center>
				</div>
				<div class="col-md-6 col-xs-12 font ">
					<p>
						It is a fintech project with a major goal: to develop
						a digital platform for giving criptocurrency’s
						loans using the blockchain technology.
						So, if you are a person with no credit history you will still be able to request an onix loan. 
					</p><br>
					<p>
						This project is currently under development, but if you want to know more about it you can follow us through our social networks or you can suscribe to our newsletter.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dorado"></div>
</section>
	{% include 'base/proy-onix.twig'%}
{% endblock %}