{% extends "base.twig" %}
{% block content%}

	<section class="col-md-12">
		<div class="fondo-info">
			<div class="col-md-offset-2 center-block">
				<div class="row">
					<div class="col-md-4 col-md-offset-3 col-xs-offset-0 col-xs-12 " style="margin-top: 110px;">
						<h1 class="dowload pull-right">POOLS DE MINERÍA</h1>
					</div>
					<div class="col-md-3 col-xs-12 ">
						<img class="img-reponsive pull-right" src="static/images/web/moneda_onix.png">
					</div>
				</div>
			</div>
		</div>
		<div class="dorado"></div>
	</section>

	<!--<div class="background-dorado row" style="padding:0">
		<div class="col-md-2 col-xs-12 col-md-offset-1" style="margin-top: 24px;">
			<center><img class="img-reponsive" width="100" src="static/images/web/wallet.png"></center>
		</div>
		<div class="col-md-6 col-xs-12">
			<div class="tex">
				<h1>Descarga nuestra Wallet</h1>
				<p>Descarga la wallet para iniciar disfrutando de los beneficios que ofrece Onix.</p>
			</div>
			<div class="row col-md-12 col-xs-12">
				<ul class="nav aplications center-block">
					<li><a href="#">
						<img width="50" src="static/images/web/android.png">
					</a></li>
					<li><a href="#">
						<img width="50" src="static/images/web/ios.png">
					</a></li>
					<li><a href="#">
						<img width="40" src="static/images/web/windows.png">
					</a></li>
					
				</ul>
			</div>
			<div class="clearfix"></div> 
		</div>
		
		<div class="col-md-1 center-block" style="margin-top: 36px; padding-bottom:10px">
			<button class="btn btn-modifi btn-primary">Descargar</button>
		</div>
	</div>-->
	<div class="clearfix"></div> 

	<section class="container" style="padding-bottom:50px;">
		<div class="col-md-12">
			<div class="col-md-12" style="border-bottom: 1px solid #ccc;">	
				<div class="tex col-md-12" style="margin-top: 24px;">
					<p class="tex" style="margin:0"><span style="color:#e49d0e">Página principal</span> / Pools o grupos de minería</p>
				</div>
			</div>	
		<div class="clearfix"></div>
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-xs-12 col-md-12">
				<h1>POOLS O GRUPOS DE MINERÍA</h1>

				<p class="col-md-10" style="font-size:12pt;font-family:arial;">
					En este post, veremos una lista de lo que se llama pool, o lo que es lo mismo, un grupo de gente que "se alía" para poder minar de manera eficiente. <br>
					<span class="font"><a href="#">Ghash.io</a></span> (0 % comisión, recomendada)<br>
					<span class="font"><a href="#">Eobot</a></span> <br>
					<span class="font"><a href="#">Bitcoinaffliliate network</a></span> <br>
					<span class="font"><a href="#">Slush's pool</a></span> <br>
					<span class="font"><a href="#">BTCMine</a></span> <br>
					<span class="font"><a href="#">BTCDig</a></span><br>
					<span class="font"><a href="#">btcmp.com</a></span><br>
					<span class="font"><a href="#">ckpool</a></span><br>
					<span class="font"><a href="#">Eclipse Mining Consortium</a></span><br>
					<span class="font"><a href="#">Eligius</a></span><br>
					<span class="font"><a href="#">Give me COINS</a></span><br>
					<span class="font"><a href="#">Mege Mining Pool</a></span><br>
					<span class="font"><a href="#">MinerGate</a></span><br>
					<span class="font"><a href="#">Multipool</a></span><br>
					<span class="font"><a href="#">P2Pool</a></span><br>
					<span class="font"><a href="#">PolMine</a></span>
				</p>
			</div>
		</div>
		<div class="bord"></div>
	</section>

{% endblock %}