{% extends "base.twig" %}
{% block content%}
	<section class="fondo-road">
		<h1 class="text-road">Road Map</h1><br><br><br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Launching</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-1.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Launch of the currency, website, mining pool block explorer, mining software, social networks, blog, forum, list on Exchanges.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Massify</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-2.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Development of the graphic interface of the mining software with GPU in order to simplify the mining introduction process to those people who have no expertise
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Evolution</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-3.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Wallet development for Android and iOS that allow the onyx storage and the direct exchange to btc.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Consolidation</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-4.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Integration with payment gateways and visa rechargeable debit cards in altcoins to expand and impulse the use of onyx worldwide.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Innovation</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-5.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Development of the beta version of the loan platform that allows the users to place onix within the fixed term. in this way they can access a 12 month credit lines.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">Diversification</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-6.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">Translation and introduction of the loan platform to other languages and continents.
					</p>
				</div>
			</div>
		</div><br><br><br><br>


		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">It will continue…</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-x.png" alt="">
				</div>
			</div>
		</div><br><br><br><br>

	</section>
{% endblock %}
