{% extends "base.twig" %}
{% block content%}

	<section class="col-md-12">
	<div class="fondo-info" style="padding-top:20px; padding-bottom:20px;">
		<div class="col-md-offset-2 center-block">
			<div class="row">
				<div class="col-md-5 col-md-offset-4 col-xs-offset-1">
					<div class="contact">
						<center><h2 class="dowload">LOG IN</h2> <br>
						<a href="/registro" style="color:black"><h3>TO REGISTER <span style="color: white">IF YOU DO NOT ACCOUNT</span></a></h3></center><br>
						<div class="col-md-offset-0 col-xs-offset-1">
							<div class="col-md-6 col-xs-8" style="margin-bottom: 12px">
								<input class="correo input-sesion col-md-12" type="email" name="email" placeholder="Email"><div class="ico-email"></div>
							</div>
							<div class="col-md-6 col-xs-8">
								<input class="correo input-sesion col-md-12" type="password" name="contraseña" placeholder="Password"><div class="ico-pass" style="top:0"></div>
							</div><br><br>
							<div class="clearfix"></div>

							<p class="olv-cont"><a href="#">I forgot my password</a></p>

							<center><button class="btn btn-modifi" style="color: white;font-size: 12pt!important">Log in</button></center>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dorado"></div>
	</section>


{% endblock %}