{% extends "base.twig" %}
{% block content%}
	<section class="col-md-12">
		<div class="fondo-info">
			<div class="col-md-offset-2 center-block">
				<div class="row">
					<div class="col-md-5 col-md-offset-3 col-xs-offset-3 col-xs-8 " style="margin-top: 110px;">
						<h1 class="dowload pull-right">Mining software</h1>
					</div>
					<div class="col-md-3 col-xs-11 ">
						<img class="img-reponsive pull-right" src="static/images/web/moneda_onix.png">
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="container" style="padding-bottom:50px;">
		<div class="col-md-12">
			<div class="col-md-12" style="border-bottom: 1px solid #ccc;">	
				<div class="tex col-md-12" style="margin-top: 24px;">
					<p class="tex" style="margin:0"><span style="color:#e49d0e">Homepage</span> / How to mine Onix</p>
				</div>
			</div>	
		<div class="clearfix"></div>
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-xs-12 col-md-12">
				<h1 style="color:black;">Minning with GPU</h1>

				<p class="col-md-10" style="font-size:12pt;">
					GPUs are processors used for video games or interactive 3D applications, and most modern computers have an integrated GPU. GPUs are designed to offer high performance and a powerful parallelism, which are very useful qualities in the Onix mining. <br><br>
					GPUs had very good properties for Onix mining. In the first place it is an accessible hardware that allows the fans to assemble their own equipment, since gpus offer the possibility of joining many of them in the same computer. Additionally, as they are designed to execute parallelism, they have several Arithmetic Logic Units (ALUs) that allow the parallel calculation of different x-11 hashs. <br><br>
					<b>Download the step by step manual to mine with GPU</b> <a href="/static/descarga/Onix-GPU-En.pdf" target="_blank"><img src="/static/images/web/pdf.png" width="25" alt=""></a><br>
					<b>Mining software</b> <a href="https://mega.nz/#F!4npQwCRL!1lYi8Suo3Pmo5WGgyuzsbQ" target="_blank"><img src="/static/images/web/moneda-x.png" width="25" alt=""></a>
				</p>	
			</div>

			<div class="clearfix"></div>
			<div class="bord"></div>	
			<div class="col-xs-12 col-md-12">
				<h1 style="color:black;">Mining with CPU</h1>
				
				<p class="col-md-10" style="font-size:12pt;font-family:arial;">
					To mine Onix with the computer is surely the easiest way to do home mining. It does not require a special equipment or high knowledge of computer science and, moreover, it is a fun experiment. It simply requires to follow certain steps and to execute a file. Nevertheless it is advisable to read the previous points of the step by step tutorial and also you don’t have to create false expectations because this provides an honest vision of the current operation of the mining. <br><br>
					<b>Download the step by step manual to mine with CPU</b> <a href="/static/descarga/Onix-CPU-EN.pdf" target="_blank"><img src="/static/images/web/pdf.png" width="25" alt=""></a><br>
					<b>Mining software</b> <a href="https://mega.nz/#F!JqoTXBZI!nmeF8RNDOfO83gTyBV57VA" target="_blank"><img src="/static/images/web/moneda-x.png" width="25" alt=""></a>
				</p>	
			</div>
		</div>
		<div class="bord"></div>	
	</section>
{% endblock %}