{% extends "base.twig" %}
{% block content %}
	<section class="background-blog">
		<div class="row">
			<div class="col-md-12 col-xs-12 comercios-color" style="margin-top: 15px !important">
				<h3 class="col-md-4 dowload col-md-offset-1" style="color: black">BIENVENIDOS AL BLOG DE ONIX</h3>
				<div class="col-md-3 input-modi">
					<input type="" name="" placeholder="Buscar tema"><a href="#"><div class="ico-search"></div></a>
				</div>
				<div class="col-md-3">
					<ul class="pager">
					  <li class="previous"><a href="#">&larr; Anterior</a></li>
					  <li class="active">
					    <a href="#">1 <span class="sr-only">(página actual)</span></a>
					  </li>
					  <li class="active">
					    <a href="#">2 <span class="sr-only">(página actual)</span></a>
					  </li>
					  <li class="active">
					    <a href="#">...<span class="sr-only">(página actual)</span></a>
					  </li>
					  <li class="next"><a href="#">Siguiente &rarr;</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 article-blog">
					<article class="article">
						<div class="col-md-8">
							<div class="text" style="padding:0;">
								<h1 style="color: black">TITULO DEL BLOG</h1>

								<P class="text-blog">
									Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.	
								</P>
							</div>
						</div>
						<div class="col-md-4 img-blog">
							<img class="img-reponsive" width="200" src="static/images/web/dumga.png">
						</div>
						<div class="clearfix"></div>
						<button class="btn btn-primary" style="margin-left: 11pt;">Ver más</button>	
					</article>	
				</div>


				<!--LADO DERECHO DE BLOG-->
				<div class="col-md-4">
					<div class="col-xs-12 seach">
						<h4>Ultimos Publicados:</h4>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12 info-blog">
						<article class="article ">
							<div class="col-md-12 article-borde">
								<div class="blog-min">
									<a href="#">
										<center><h3>TITULO DEL BLOG</h3></center>
										<div class="col-md-4 img-blog-min">
											<img class="img-reponsive" src="static/images/web/dumga.png">
										</div>
										<P class="text-blog col-md-8">
											Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar...	
										</P>
									</a>	
								</div>								
						</article>
						<div class="clearfix"></div>

						<!--PUBLICIDAD-->
						<div class="banner col-md-12">
							publicidad
						</div>
						<div class="clearfix"></div>
						
						<!--LO MAS BUSCADO-->
						<div class="col-xs-12 seach">
							<h4>Los mas Buscados:</h4>
						</div>
						<article class="article ">
							<div class="col-md-12 article-borde">
								<div class="blog-min">
									<a href="#">
										<center><h3>TITULO DEL BLOG</h3></center>
										<div class="col-md-4 img-blog-min">
											<img class="img-reponsive" src="static/images/web/dumga.png">
										</div>
										<P class="text-blog col-md-8">
											Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar...	
										</P>
									</a>	
								</div>								
						</article>
						<div class="clearfix"></div>

						
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}