{% extends "base.twig" %}
{% block content %}
	<section class="col-md-12">
	<div class="fondo-info">
		<div class="col-md-offset-2 center-block">
			<div class="row">
				<div class="col-md-4 col-md-offset-3 col-xs-offset-2 col-xs-12 " style="margin-top: 110px;">
					<h1 class="dowload pull-right">COMERCIOS</h1>
				</div>
				<div class="col-md-3 col-xs-12 col-md-offset-0 col-xs-offset-2">
					<img class="img-reponsive pull-right" src="static/images/web/moneda_onix.png">
				</div>
			</div>
		</div>
	</div>
	</section>
	<div class="clearfix"></div>
	<div class="border-top"></div>
	<section class="container">
		<div class="col-md-12">
			<div class="comercios-color">
				<h3 class="tex">COMERCIOS QUE ACEPTAN ONIX</h3>
			</div>
		</div>
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-md-6 col-xs-12">
				<div class="block-comercio">
					<img class="img-reponsive center-block" src="static/images/web/dumga.png">
					<p>
						lorem ipsum dolor sit, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-xs-12" style="margin-top: 40px;">
				<img class="img-reponsive center-block" src="static/images/web/pantalla-dumga.jpg">
			</div>
		</div>
		<div class="bord"></div>

		<div class="row" style="padding-bottom: 15px;">
			<div class="col-md-6 col-xs-12">
					<div class="block-comercio">
						<img class="img-reponsive center-block" src="static/images/web/icono-bitcoin.png">
						<p>
							lorem ipsum dolor sit, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
							ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
						</p>
					</div>
				</div>
				<div class="col-md-6 col-xs-12" style="margin-top: 40px;">
					<img class="img-reponsive center-block" src="static/images/web/pantalla-bitcoin.jpg">
				</div>
			</div><div class="clearfix"></div>
			<div class="bord"></div>
		</div>	
	</section>

{% endblock %}