{% extends "base.twig" %}
{% block content%}
	<section class="col-md-12">
		<div class="fondo-info">
			<div class="col-md-offset-2 center-block">
				<div class="row">
					<div class="col-md-4 col-md-offset-3 col-xs-12 " style="margin-top: 110px;">
						<h1 class="dowload pull-right">DESCARGA ONIX</h1>
					</div>
					<div class="col-md-3 col-xs-12">
						<img class="img-reponsive pull-right" src="static/images/web/moneda_onix.png">
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>	
	
{% endblock %}