{% extends "base.twig" %}
{% block content%}
	<div class="fondo-ficha">
		<div class="center-block">
			<h1 class="texto-ficha-tecnica">TIPO: POW</h1>
			<h1 class="texto-ficha-tecnica">HASHING ALGO: X11</h1>
			<h1 class="texto-ficha-tecnica">RETARGETING ALGO: Dark Gravity Wave</h1>
			<h1 class="texto-ficha-tecnica">TIEMPO ENTRE BLOQUES: <b>180 segs</b></h1>
			<h1 class="texto-ficha-tecnica" style="font-size: 22pt;">TIEMPO DE RE CALCULO DE DIFICULTAD: <b>24 horas</b></h1>
			<h1 class="texto-ficha-tecnica">TAMAÑO DE BLOQUES: <b>4mb</b></h1>
			<h1 class="texto-ficha-tecnica">HALVING: <STRONG>NO HALVING!</STRONG></h1>
			<h1 class="texto-ficha-tecnica">BLOCK REWARD: <b>60 ONIX</b> POR SIEMPRE!</h1>
		</div>
	</div>
{% endblock %}	