{% extends "base.twig" %}
{% block content%}
<section class="col-md-12">
	<div class="fondo">
		<div class="center-block">

			<center>
				<img class="img-responsive image-proy" src="static/images/proyecto_onix.png">
			<p class="proy-onix">CREEMOS EN LA NUEVA ERA FINANCIERA, EN LA QUE MÁS PERSONAS PUEDEN ACCEDER A SOLUCIONES <br> BANCARIAS A TRAVÉS DE LA TECNOLOGÍA Y EL ACCESO A INTERNET, POR LO QUE DESARROLLAMOS <br> SOLUCIONES BASADAS EN BLOCKCHAIN Y CRIPTOMONEDAS, <br> SOMOS PROYECTO ONIX</p>
			<div class="linea">
				<img height="1" class="img-responsive" src="static/images/linea_dorada.png">
			</div>
			</center>	
		</div>
	</div>
	<div class="dorado"></div>
	<div class="fondo-ficha">
		<div class="row">
			<div class="col-md-4 col-md-offset-1 col-xs-offset-0">
				<center><img class="img-responsive" src="static/images/web/moneda_onix.png"></center>
			</div>
			<div class="col-md-5">
				<div class="lead">
					<p>
						ONIX es una moneda digital enfocada en la <br> privacidad, con transacciones instantáneas y de código abierto. <br> Te permite mantener la privacidad de tus finanzas de <br> forma similar al efectivo.
					</p>
				</div>	
			</div>
		</div>
	</div>
	{% include 'base/proy-onix.twig'%}




			<div id="myModal" class="modal fade in" role="dialog">
			  <div class="modal-dialog">

			    <div class="modal-content">
			      <div class="modal-header contact comuni" style="padding:10px;border-bottom: 1px solid;">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title dowload comunid">UNETE A LA COMUNIDAD</h4>
			      </div>
			      <div class="modal-body contact comuni" style="padding:0"><br>
			        <div class="col-md-3 col-xs-12">
							<img width="130" src="static/images/web/wallet.png" alt="">
						</div><br><br>
						
						<div class="col-md-8 font-size">
							<h2 class="dowload" style="padding: 0;font-size: 16pt;">DESCARGA NUESTRA WALLET <br> Y RECIBE <span style="color:white;font-size:26px">60 ONIX</span> DE OBSEQUIO!</h2><br>
							<form method="post" id="form_registro" action="/referidos/registro">
								<fieldset>
									<legend>REGISTRATE</legend>
									<p class="col-md-12 col-xs-12" style="padding-right: 15px;padding-left: 15px;">CORREO <br>
										<input class="col-md-12 col-xs-12" type="email" name="correo" id="correo">
									</p>
									<p class="col-md-6 col-xs-12">CONTRASEÑA<br>
										<input class="col-md-12 col-xs-12" type="password" name="pass" id="pass1">
									</p>
									<p class="col-md-6 col-xs-12">CONFIRMAR CONTRASEÑA<br>
										<input class="col-md-12 col-xs-12" type="password" id="pass2">
									</p>
									<input type="hidden" name="csrftoken" value="{{csrftoken}}">
									<input type="hidden" name="codigo_referido" value="{{codigo_referido}}">
								</fieldset>
							</form><br>
							<center><button class="btn btn-modifi" id="btn_registro" style="color: white;font-size: 12pt!important">Enviar</button> </center><br>

						</div>
						<div class="clearfix"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			      </div>
			    </div>

			  </div>
			</div>

{% endblock %}

{% block  pixel %}
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '135019163735979'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=135019163735979&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
{% endblock pixel %}


{% block js %}
<script>
    $(function(){

    	$('#btn_registro').click(function(){
    		if( $('#correo').val().trim() == ''){
    			mostrarMensaje('Por favor escriba su dirección de correo electrónico.');
    			return;
    		}
    	
    		if(!validarCorreoFormRegistro()){
    			mostrarMensaje('Dirección de correo invalido, Unicamente se acepta correos: gmail, yahoo, hotmail, live');
    			return;
    		}
    		if( $('#pass1').val().trim() == '' ||  $('#pass2').val().trim() == ''){
    			mostrarMensaje('Por favor escriba una contraseña y confirmela en la casilla de verificación de contraseña.');
    			return;
    		}
    		if( $('#pass1').val().trim() !=  $('#pass2').val().trim()){
				mostrarMensaje('El campo de contraseña y confirmar contraseña deben ser iguales.');
    			return;
    		}
    		$.ajax({
				url: '/referidos/registro',
	            type: 'post',
	            dataType: 'json',
	            data: $('#form_registro').serialize(),
	            success: function (data) {
                    mostrarMensaje(data.message);
                    setTimeout(function(){

			window.location.href = '/';
                    },1000);

	            },
	            statusCode: {
			        500: function(msj) {
			        	console.log(msj);
			            mostrarMensaje(msj.message);
			        }
			    }

	        });

    	});
    });
</script>
{% endblock js %}
	
