{% extends "base.twig" %}
{% block content%}
<section class="col-md-12">
	<div class="fondo-info" style="padding-top:50px;padding-bottom:50px;">
		<div class="center-block">
			<div class="row">
				<div class="col-md-3 col-xs-12 col-md-offset-3">
					<center>
						<img class="img-reponsive" src="static/images/web/moneda_onix.png">
					</center>
				</div>
				<div class="col-md-6 col-xs-12 font ">
					<p>
						ES UN PROYECTO FINTECH QUE BUSCA A TRAVÉS DE LA TECNOLOGÍA <br>
						BLOCKCHAIN, DESARROLLAR UNA PLATAFORMA DIGITAL PARA <br>
						PRESTAMOS EN CRIPTOMONEDAS, Y DE ESTA MANERA CUALQUIER <br>
						PERSONA SIN HISTORIAL CREDITICIO PUEDE ACCEDER A UN PRÉSTAMO <br>
						EN ONIX.
					</p><br>
					<p>
						ACTUALMENTE SE ENCUENTRA EN DESARROLLO, PARA MÁS <br>
						INFORMACIÓN SIGUE NUESTRAS REDES Y REGÍSTRATE EN NUESTRO <br>
						NEWSLETTER.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dorado"></div>
</section>
	{% include 'base/proy-onix.twig'%}
{% endblock %}