{% extends "base.twig" %}
{% block content%}
	<div class="fondo-ficha">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
					<div class="contact">
						<center><h2 class="dowload">REGISTRAR</h2><br>
							<p class="col-md-6 col-xs-12 olv-cont" style="font-weight: bold;">¿YA DISPONES DE UNA CUENTA?</p> 
							<p class="col-md-6 col-xs-12 olv-cont" ><a href="/sesion" style="color: white; font-weight: bold;"> INICIA SESIÓN CON TU CUENTA</a></p>
						</center>
						 <br><br><br><br>
						<div class="col-md-6 col-xs-12">
							<input class="correo input-sesion col-md-12 col-xs-12" type="email" name="correo" placeholder="Correo electrónico"> <div class="ico-email"></div><br><br><br><br>
							<input class="correo col-md-12 col-xs-12 input-sesion" type="password" name="contraseña" placeholder="Contraseña"><div class="ico-pass"></div><br><br><br><br>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<input class="correo col-md-12 col-xs-12 input-sesion" type="email" name="confirmacion-correo" placeholder="Confirmar correo electrónico"><div class="ico-email"></div><br><br><br><br>
							<input class="correo col-md-12 col-xs-12 input-sesion" type="password" name="confirmacion-contraseña" placeholder="Confirmar contraseña"><div class="ico-pass-repeat"></div>
						</div>
						<div class="clearfix"></div>
					
						<center><button class="btn btn-modifi" style="color: white;font-size: 12pt!important">Registrar</button> </center>
					</div>
						
					<div class="clearfix"></div>
			</div>
		</div>	
	</div>
{% endblock %}