{% extends "base.twig" %}
{% block content%}
	<section class="fondo-road">
		<h1 class="text-road">ROAD MAP</h1><br><br><br><br>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">LANZAMIENTO</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-1.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">LANZAMIENTO DE LA MONEDA, PAGINA WEB, <br> POOL DE MINERÍA EXPLORADOR DE BLOQUES, <br>
						SOFWARE DE MINERÍA, REDES SOCIALES,<br> BLOG, FORO, LISTADO EN EXCHANGE.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">MASIFICACIÓN</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-2.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">DESARROLLO DE INTERFAZ GRÁFICA DE<br>SOFTWARE DE MINERÍA CON GPU PARA <br>
						SIMPLIFICAR PROCESO DE INTRODUCCIÓN A LA<br> MINERÍA A PERSONAS NO EXPERTAS.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">EVOLUCIÓN</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-3.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">DESARROLO DE WALLET PARA ANDROID E IOS<br> QUE PERMITA EL ALMACENAJE DE ONIX ASÍ<br> COMO EL INTERCAMBIO DIRECTO A BTC.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">CONSOLIDACIÓN</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-4.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">INTEGRACIÓN CON PASARELAS DE PAGOS Y<br> TARJETAS DE DÉBITO VISA RECARGABLES EN<br> ALTCOINS, PARA MASIFICAR E IMPULSAR LA<br> UTILIZACIÓN DE ONIX A NIVEL MUNDIAL.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">INNOVACIÓN</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-5.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">DESARROLLO DE VERSIÓN BETA DE<br>PLATAFORMA DE PRESTAMOS QUE PERMITA A <br>
						LOS USUARIOS COLOCAR ONIX A PLAZO FIJO,<br> PARA ASÍ PODER ACCEDER A LINEAS DE <br>CRÉDITO POR PLAZO DE 12 MESES.
					</p>
				</div>
			</div>
		</div><br><br><br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">DIVERSIFICACIÓN</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-6.png" alt="">
				</div>
				<div class="col-md-4">
					<p class="text-p-road">TRADICIÓN E INTRODUCCIÓN DE LA<br>PLATAFORMA DE PRÉSTAMO A OTROS IDIOMAS<br>Y CONTINENTES.
					</p>
				</div>
			</div>
		</div><br><br><br><br>


		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3 col-md-offset-2 ">
					<h2 class="text text-title-road">CONTINUARÁ...</h2>
				</div>
				<div class="col-md-2" style="margin-left: 56px;">
					<img src="static/images/web/moneda-x.png" alt="">
				</div>
			</div>
		</div><br><br><br><br>

	</section>
{% endblock %}
