{% extends "base.twig" %}
{% block content%}
	<section class="col-md-12">
		<div class="fondo-info">
			<div class="col-md-offset-2 center-block">
				<div class="row">
					<div class="col-md-5 col-md-offset-3 col-xs-offset-3 col-xs-8 " style="margin-top: 110px;">
						<h1 class="dowload pull-right">SOFTWARE DE MINERIA</h1>
					</div>
					<div class="col-md-3 col-xs-11 ">
						<img class="img-reponsive pull-right" src="static/images/web/moneda_onix.png">
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="container" style="padding-bottom:50px;">
		<div class="col-md-12">
			<div class="col-md-12" style="border-bottom: 1px solid #ccc;">	
				<div class="tex col-md-12" style="margin-top: 24px;">
					<p class="tex" style="margin:0"><span style="color:#e49d0e">Página principal</span> / Cómo minar Onix</p>
				</div>
			</div>	
		<div class="clearfix"></div>
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-xs-12 col-md-12">
				<h1 style="color:black;">Minar con GPU</h1>

				<p class="col-md-10" style="font-size:12pt;">
					Las GPU son procesadores que se utilizan para videojuegos o aplicaciones 3D interactivas y la mayoría de ordenadores modernos tienen una GPU integrada. Las GPUs están diseñadas para ofrecer un alto rendimiento y un potente paralelismo, cualidades muy útiles en la minería Onix. <br><br>
					Las GPUs tenían propiedades muy buenas para la minería Onix. En primer lugar resulta un hardware accesible y que permite a los aficionados montar sus propios equipos, ya que las GPUs ofrecen la posibilidad de unir muchas de ellas en un mismo ordenador. Además como están diseñadas para ejecutar el paralelismo, tienen varias Unidades de Lógica Aritmética (Arithmetic Logic Units- ALU) que permitían el cálculo en paralelo de diferentes hash X-11. <br><br>
					<b>Descarga el manual paso a paso para minar con GPU</b> <a href="/static/descarga/Onix-GPU.pdf" target="_blank"><img src="/static/images/web/pdf.png" width="25" alt=""></a><br>
					<b>Software de mineria</b> <a href="https://mega.nz/#F!4npQwCRL!1lYi8Suo3Pmo5WGgyuzsbQ" target="_blank"><img src="/static/images/web/moneda-x.png" width="25" alt=""></a>
				</p>	
			</div>

			<div class="clearfix"></div>
			<div class="bord"></div>	
			<div class="col-xs-12 col-md-12">
				<h1 style="color:black;">Minar con CPU</h1>
				
				<p class="col-md-10" style="font-size:12pt;font-family:arial;">
					Minar Onix con el ordenador seguramente sea la forma más sencilla de hacer minería en casa. No requiere de equipos especiales ni altos conocimientos de informática y, además, es un experimento divertido. Simplemente requiere de ciertos pasos y ejecutar un archivo. No obstante es aconsejable leer los puntos previos del tutorial paso a paso para no tener falsas expectativas, pues proporciona una visión honesta del funcionamiento actual de la minería. <br><br>
					<b>Descarga el manual paso a paso para minar con CPU</b> <a href="/static/descarga/Onix-CPU.pdf" target="_blank"><img src="/static/images/web/pdf.png" width="25" alt=""></a><br>
					<b>Software de mineria</b> <a href="https://mega.nz/#F!JqoTXBZI!nmeF8RNDOfO83gTyBV57VA" target="_blank"><img src="/static/images/web/moneda-x.png" width="25" alt=""></a>
				</p>	
			</div>
		</div>
		<div class="bord"></div>	
	</section>
{% endblock %}