<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#subir_archivo">Subir Archivo</a></li>
    <li class="active"><a data-toggle="tab" href="#biblioteca">Biblioteca de archivos</a></li>
</ul>
<div class="tab-content">
    <div id="subir_archivo" class="tab-pane fade">
        <h3>HOME</h3>
        <p>{{ peso_maximo }}</p>
    </div>
    <div id="biblioteca" class="tab-pane fade in active">
        <fieldset style="margin-top: 20px; margin-bottom: 20px">
            <legend>Filtros</legend>
            <section class="row">
                <div class="col-xs-3 col-lg-3">
                    <select id="media-attachment-filters" class="attachment-filters form-control">
                        <option value="img">Imágenes</option>
                        <option value="video">Videos</option>
                        <option value="audios">Audios</option>
                        <option value="todos">Todos</option>
                    </select>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <select id="media-attachment-filters" class="attachment-filters form-control">
                        <option value="todos">Todos clos cluster</option>
                        <option value="04-2017">04-2017</option>
                        <option value="03-2017">03-2017</option>
                        <option value="02-2017">02-2017</option>
                    </select>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <input type="text" class="form-control" placeholder="Buscar archivo por el nomnbre" name="buscar_archivo" id="buscar_archivo">
                </div>
            </section>
        </fieldset>
        <section class="row">
            <div class="col-lg-9 col-xs-12" id="containter-images">
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)">
                    <div class="image-overlay"></div>
                    <div class="img-check">
                        <img src="/static/admin/img/checked-symbol.png">
                    </div>
                </div>
                <div class="col-xs-4 image_thum lg"  style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
                <div class="col-xs-4 image_thum lg" style="background: url(/cluster/04-2017/0321593732f2f32769846e2fc010c422_sm.png)"></div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="archivo" style="display: none" id="archivo">
                    <div class="row">
                        <p class="col-xs-12">
                            <label>Nombre</label>
                            <input type="text" name="nombre_imagen" id="nombre_imagen" placeholder="Nombre real de la imagen" class="form-control">
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-xs-12">
                            <label>Titulo</label>
                            <input type="text" name="titulo_imagen" id="titulo_imagen" placeholder="Titulo de la imagen" class="form-control">
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-xs-12">
                            <label>Texto Alternativo</label>
                            <input type="text" placeholder="Texto alternativo de la imagen" class="form-control">
                        </p>
                    </div>
                </form>
                <div style="background: #eaeaea; padding: 6px 10px; margin-top: 10px;">
                    <p style="font-size: 9pt;">Size:<i id="size_image">148.2KB</i></p>
                    <p style="font-size: 9pt;">Type: <i id="type_size">image/jpeg</i></p>
                    <p style="font-size: 9pt;">URL: <i>https://www.dumga.com/cluster/04-2017/0321593732f2f32769846e2fc010c422.png</i></p>
                </div>
                <br>
                <div style="text-align: center">
                    <a onclick="editar_archivo()" class="btn btn-default btn-sm">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <a href="/admin/usuario/eliminar/" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>

            </div>

        </section>
    </div>
</div>