<ul class="nav">
    <li class="active">
        <a href="/admin/dashboard/">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="/admin/usuario-listado/">
            <i class="pe-7s-user"></i>
            <p>Usuario</p>
        </a>
    </li>
    <li>
        <a href="user.html">
            <i class="pe-7s-config"></i>
            <p>Configuración</p>
        </a>
    </li>

    <li>
        <a href="/admin/categorias/">
            <i class="pe-7s-edit"></i>
            <p>Categorías</p>
        </a>
    </li>
    <li>
        <a href="/admin/multimedia/listado/">
            <i class="pe-7s-display1"></i>
            <p>Multimedia</p>
        </a>
    </li>

    <li>
        <a href="/admin/post-listado/">
            <i class="pe-7s-ticket"></i>
            <p>Post</p>
        </a>
    </li>

</ul>