{% extends 'base.twig' %}

{% block content %}
<section id = "content">
    <section class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
            <a href="/admin/post/" class="btn-primary btn btn-md">Publicar Post</a>
            <a href="/admin/categorias/" class="btn-info btn btn-md">Crear Categorías</a>
        </div>

    </section>
    <section class="row">
        <div class="col-xs-12 col-lg-9">
            <div  class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Url</th>
                        <th>Fecha creción</th>
                        <th>Estado</th>
                        <th>Visitas</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in object_list %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="/admin/usuario/editar/{{ usuario.user_id }}" class="btn btn-default btn-sm">
                                    <i class='fa fa-refresh'></i>
                                </a>
                                <a href="/admin/usuario/eliminar/{{ usuario.user_id }}"class="btn btn-danger btn-sm">
                                    <i class='fa fa-trash-o'></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <section class="row">
                <div class="pull-left">
                    <ul class="pagination">

                        {% if previous_page > 0 %}
                            <li class="paginate_button btn-sm">
                                <a href="?page={{ previous_page }}" aria-controls="datatable" data-dt-idx="2" tabindex="0">
                                    &laquo; Anterior
                                </a>
                            </li>
                        {% else %}
                            <li class="paginate_button previous disabled btn-sm" id="datatable_previous">
                                <a aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo; Anterior</a>
                            </li>

                        {% endif %}
                        {% if next_page > 0 %}
                            <li id="datatable_next" class="paginate_button next btn-sm" >
                                <a href="?page={{ next_page }}">Siguiente &raquo;</a>
                            </li>
                        {% else %}
                            <li class="paginate_button next disabled btn-sm" id="datatable_next">
                                <a aria-controls="datatable" class="paginate_button next disabled btn-sm" tabindex="0">
                                    Siguiente &raquo;
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="pagination">
                        <li class="paginate_button next disabled btn-sm">
                            <a aria-controls="datatable" class="paginate_button disabled">
                                Total de registros: <strong>{{ rows }}</strong>
                            </a>
                        </li>
                        <li class="paginate_button next disabled btn-sm">
                            <a aria-controls="datatable" class="paginate_button disabled" tabindex="0">
                                Pagina {{ current_page }} de {{ count_page }}
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="row" style="margin-bottom: 20px">

                <div class="col-xs-12" id="filtros">
                    <form action="/admin/post-listado/" method="get" id="form_filtros">
                        <fieldset>
                            <legend>Filtros</legend>
                            <div class="row">
                                <p class="col-xs-12">
                                    <label>Categorías</label>
                                    <select id="filtro_categoria" name="filtro_categoria" class="form-control">
                                        <option value=""> -- TODOS --</option>
                                        <option value="P">Publicados</option>
                                        <option value="R">Revisión</option>
                                    </select>
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12">
                                    <label>Autor</label>
                                    <select id="filtro_autor" name="filtro_autor" class="form-control">
                                        <option value=""> -- TODOS --</option>
                                        <option value="P">Publicados</option>
                                        <option value="R">Revisión</option>
                                    </select>
                                </p>
                            </div>
                            <div class="row">
                                <p class="col-xs-12">
                                    <label>Estado</label>
                                    <select id="filtro_estado" name="filtro_estado" class="form-control">
                                        <option value=""> -- TODOS --</option>
                                        <option value="P">Publicados</option>
                                        <option value="R">Revisión</option>
                                    </select>
                                </p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>



</section>

{% endblock content %}

{% block js %}
    <script>
        $(function(){
            {% if filtro_categoria %}
                $("#filtro_categoria option[value={{ filtro_categoria }}]").attr("selected",true);
            {% endif %}
            {% if filtro_autor %}
            $("#filtro_autor option[value={{ filtro_autor }}]").attr("selected",true);
            {% endif %}
            {% if filtro_estado %}
            $("#filtro_estado option[value={{ filtro_estado }}]").attr("selected",true);
            {% endif %}

        });
    </script>
{% endblock js %}