{% extends 'base.twig' %}

{% block content %}
    <section id = "content">
        <section class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <a href="/admin/post/" class="btn-primary btn btn-md">Publicar</a>

                <a href="/admin/post/" class="btn-primary btn btn-md">Guardar como borrador</a>
                <a href="/admin/post-listado//" class="btn-info btn btn-md">listado de Post</a>
            </div>
        </section>
        <section class="row">

        </section>
        <section class="row">
            <div class="col-xs-12 col-lg-9">
                <p>
                    <label>Título</label>
                    <input type="text" name="titulo" class="form-control" placeholder="Título de la publicación"
                           required ="required" autofocus = "on">
                </p>
                <p>
                    <textarea class="vLargeTextField" cols="40" id="id_resumen" maxlength="800" name="resumen" rows="10"></textarea>
                </p>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="row">
                    <div class="col-xs-12">
                        <fieldset>
                            <legend>Imagen principal</legend>
                            <div style="text-align: center">
                                <a id = "modal_multimedia" style="cursor: pointer">Agregar Imagen</a>
                            </div>
                            <br>
                        </fieldset>
                        <br>
                        <fieldset>
                            <legend>Categorías</legend>
                            <div id = "categorias">
                                <div  class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 1a sas d
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 1a sdas d
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 1
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>
                                                    Categorías 2
                                                </td>
                                            </tr>
                                        </tbody>
                            </table>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>
        </section>
        <section class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <a href="/admin/post/" class="btn-primary btn btn-sm">Publicar</a>
                <a href="/admin/post/" class="btn-primary btn btn-sm">Guardar como borrador</a>
                <a href="/admin/post-listado//" class="btn-info btn btn-sm">listado de Post</a>
            </div>
        </section>

    </section>
{% endblock content %}

{% block js %}
    <link href="/static/admin/css/froala/froala_editor.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/froala_style.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/char_counter.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/code_view.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/colors.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/draggable.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/file.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/fullscreen.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/image.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/image_manager.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/video.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/admin/css/froala/plugins/help.min.css" type="text/css" media="all" rel="stylesheet" />

    <script src="/static/admin/js/froala/froala_editor.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/align.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/colors.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/entities.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/file.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/image.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/link.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/lists.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/paragraph_style.min.js"></script>

    <script type="text/javascript" src="/static/admin/js/froala/plugins/quote.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/url.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/video.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/plugins/help.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/froala/languages/es.js"></script>

    <script>
        $(function(){
            $('#id_resumen').froalaEditor({
                // Set the language code.
                language: 'es',
                imageUploadURL: '/admin/post/upload-image/',
                imageUploadParam: 'archivo',
                imageUploadMethod: 'POST',
                // Set max image size to 1MB.
                imageMaxSize: 1 * 1024 * 1024,
                // Allow to upload PNG and JPG.
                imageAllowedTypes: ['jpeg', 'jpg', 'png']
            });
            $('#modal_multimedia').click(function(){
                $('#form_multimedia').modal('show');
            });
        })
    </script>
{% endblock js %}

{% block modal %}
    <div id="form_multimedia" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 90%; top:-18px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Archivos multimedia</h4>
                </div>
                <div class="modal-body">
                    {% include 'biblioteca_archivos.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
{% endblock modal %}