{% extends 'base.twig' %}

{% block content %}
    <section id="content">
        <section class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                {% if accion == 'actualizar' %}
                    <button class="btn-primary btn btn-md" form = "form_usuario">Actualizar usuario</button>
                {% else %}
                    <button class="btn-primary btn btn-md" form = "form_usuario">Guardar usuario</button>
                {% endif %}
                <a href="/admin/usuario-listado/" class="btn-info btn btn-md">Listado de usuario</a>
            </div>
        </section>
        <form method="post" id="form_usuario">
            <input type="hidden" name="csrftoken" value="{{ csrftoken }}">
            <input type="hidden" name="pk" value="{{ user_id }}">
            <div class="row">
                <p class="col-xs-12 col-lg-3">
                    <label>C.I</label>
                    <input type="text" value="{{ cedula }}" name="cedula" class="form-control" placeholder="Número de identificación" autofocus = "on">
                </p>
                <p class="col-xs-12 col-lg-9">
                    <label>Nombre y apellido</label>
                    <input type="text" value="{{ user_name }}" name="user_name" class="form-control" placeholder="Nombre y apellido del usuario">
                </p>
            </div>
            <div class="row">
                <p class="col-xs-12 col-lg-4">
                    <label>Correo electrónico</label>
                    <input type="email" value="{{ user_email }}" name="user_email" class="form-control" placeholder="Correo electrónico">
                </p>
                <p class="col-xs-12 col-lg-4">
                    <label>Usuario</label>
                    <input type="email" value="{{ user_login }}" name="user_login" class="form-control" placeholder="Usuario para ingresar al sistema">
                </p>
                {% if not accion %}
                <p class="col-xs-12 col-lg-4">
                    <label>Contraseña</label>
                    <input type="password" minlength="6" name="clave" class="form-control" placeholder="Clave para ingresar al sistema">
                </p>
                {% endif %}
            </div>
            
            <div class="row">
                <div class="col-xs-6 col-lg-1">
                    <label>¿Activo?</label>
                    <select id="activo" name="user_active" class="form-control">
                        <option value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                </div>
                <p class="col-xs-6 col-lg-11"></p>
            </div>
            
        </form>
    </section>
{% endblock content %}

{% block js %}
<script type="text/javascript">
$(function(){
    {% if accion %}
        $("#activo option[value={{ user_active }}]").attr("selected",true);
    {% endif %}
});
</script>
{% endblock js %}
