@font-face {
	font-family: Neue;
	src:url("../font/BebasNeue.otf");
}
@font-face {
	font-family: Myria;
	src:url("../fonts/MyriaPro-Regular.otf");
}
h1,h2,h3,h4{font-family: Neue}
p{font-family: Arial}
.logo img{width: 100%}
.border{background: #e49d0e; padding: 5px}
.border h3{text-align: center; margin:0; color: black;font-weight: bold;}
.center-block p{text-align: justify;}
.bordes{border-bottom: 1px solid #e49d0e;border-top: 1px solid #e49d0e}
.codigo{text-align: center !important; margin-top: 10px;font-weight: bold;padding: 8px;
}
.col-md-12{padding: 0}
.font-h3{font-family: MyriaPro!important;margin: 0; text-align: center;}
.social li a{color: black;text-align: center;font-size: 9pt; font-family:  Myria;}
.social li a:hover{color: #e49d0e}


@media (max-width: 992px)
{
	.social li{float: left;}

}