<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="http://www.onixcoin.com/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://www.onixcoin.com/static/email/css/style.css">
	<title>Document</title>
</head>
<body>
	<header class="col-md-12 col-xs-12 logo">
		<img class="img-responsive" src="http://www.onixcoin.com/static/email/image/header-correo.png" alt="" style="width:100%">
	</header>

	<div style="margin-top: -18px;">
		<div class="col-md-12 col-xs-12">
			<div style="background: #e49d0e;margin: -18px;"><h3 style="text-align:center;padding: 11px;">Hi!</h3></div>
			<br>
			<div class="container col-md-0 center-block" style="width:100%">
				<center>
					<p>¡Welcome to our community! You are almost ready to receive your first ONX and to be part of the new financial era.</p>
					<p>Now you just have to download our wallet <a href="https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg">https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg</a>  and respond to this email with a wallet address. We 	will deposit you 60 ONX there (If you received a referral code you must also include it in this email so we can 	thank your friend or referral for the support)
					</p>

					<p style="text-align: center;"><b>We also want to let you know that you are automatically participating in our Referral Program.</b></p>

					<p>This is very simple: We have generated this tracking code just for you, so you just have to invite your friends to join our community. We will give 60 ONIX to each new friend who downloads our wallet using your referral code and as a gratitude manner, we will give you 15 ONIX for each new friend you invite to get involved in this project! Best of all: there is no limit of friends to refer to.</p><br>
					
					<p  style="padding: 20px;border-bottom: 1px solid #e49d0e;border-top: 1px solid #e49d0e;">REFERRAL LINK: ********</p>
		
					<p style="text-align: center;    margin-top: 50px;"><b>Do not worry about the process, we will ask the code to your friend during <br> the registration process!</b></p><br>

					<p  style="text-align:center">
						Now that you are part of the ONIX Project, here we leave you more interesting information about it:
					</p><br>

					<p style="text-align: center;">You can see the currency codes here: <br>
						<a href="https://github.com/tubezcan/onixcoin" target="_blank"><img src="http://www.onixcoin.com/static/email/image/gibhub-logo.png" alt=""><br> Enlace al Git</a>
					</p>

					<p style="text-align: center;">You can buy and sell ONX here: <br>
						<a href="https://yobit.net/" target="_blank"><img src="http://www.onixcoin.com/static/email/image/yobit-logo.png" alt=""><br> Enlace a Yobit.net </a>
					</p>

					<p style="text-align: center;">You can start mining ONX here: <br>
						<a href="http://www.onixcoin.com/software" target="_blank"><img src="http://www.onixcoin.com/static/email/image/logo-onix-pequeño.png" alt=""><br> Enlace al tutorial de mineria</a>
					</p><br>
				</center>	

			</div><br>
		
	</div>
	<div class="clearfix"></div>
	<footer>
		<div class="col-md-12 col-xs-12">
			<center>	
				<h3>Contact us</h3>
				<div class="navbar-header col-md-12 col-xs-12">
					<ul class="nav navbar-nav social col-md-12 col-xs-12">
						<li style="display:inline">
							<a target="_blank" href="https://www.facebook.com/onixcoin"><img src="http://www.onixcoin.com/static/email/image/facebook-gold.png"></a>
						</li>
						<li style="display:inline">
							<a target="_blank" href="https://twitter.com/onix_coin"><img src="http://www.onixcoin.com/static/email/image/twitter-gold.png"></a>
						</li>					
					</ul>
				</div>
			</center>
		</div>
	</footer>


</body>
</html>