<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="http://www.onixcoin.com/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://www.onixcoin.com/static/email/css/style.css">
	<title>Document</title>
</head>
<body>
	<header class="col-md-12 col-xs-12 logo">
		<img class="img-responsive" src="http://www.onixcoin.com/static/email/image/header-correo.png" alt="" style="width:100%">
	</header>

	<div style="margin-top: -18px;">
		<div class="col-md-12 col-xs-12">
			<div style="background: #e49d0e;margin: -18px;"><h3 style="text-align:center;padding: 11px;">HOLA!</h3></div>
			<br>
			<div class="container col-md-0 center-block" style="width:100%">
				<center>
					<p>¡Bienvenido a nuestra comunidad! Estás casi listo para recibir tus primeros ONIX y ser parte de la nueva era financiera.</p>
					<p>Ahora solo debes descargar nuestra wallet <a href="https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg">https://mega.nz/#!A7xh2S5B!frktmXjq763d36PkMYmy-Lu5k960t5YxJEMZe82IZDg</a> y responder a este correo con una dirección de la wallet, pues allí te depositaremos 60 ONIX. (Si recibiste un código de referido también deberás incluirlo en el correo para así poder agradecerle el apoyo a tu amigo o referido).</p>

					<p style="text-align: center;"><b>También queremos informarte que estás participando automáticamente en nuestro Programa de Referidos.</b></p>

					<p>Éste es muy sencillo: hemos generado este código de seguimiento solo para ti, así que solo debes invitar a tus amigos a unirse a nuestra comunidad, y a cada nuevo amigo que descargue nuestra wallet con tu código le obsequiaremos 60 ONIX, y a ti, en agradecimiento, te obsequiaremos 15 ONIX por cada nuevo amigo! Lo mejor de todo es que no existe un límite de amigos a referir.</p><br>
					
					<p style="padding: 20px;border-bottom: 1px solid #e49d0e;border-top: 1px solid #e49d0e;">URL DE REFERIDO: ********</p>
		
					<p style="text-align: center;    margin-top: 50px;"><b>No te preocupes por el proceso, nosotros le pediremos el código a tu amigo al <br> momento de registrarse!</b></p><br>

					<p >
						Ahora que eres parte del Proyecto ONIX, aquí te dejamos una información interesante para que te involucres más con todo lo que tenemos para ofrecerte!
					</p><br>

					<p style="text-align: center;">Puedes ver los códigos de la moneda aquí: <br>
						<a href="https://github.com/tubezcan/onixcoin" target="_blank"><img src="http://www.onixcoin.com/static/email/image/gibhub-logo.png" alt=""><br> Enlace al Git</a>
					</p>

					<p style="text-align: center;">Puedes comprar y vender ONX aquí: <br>
						<a href="https://yobit.net/" target="_blank"><img src="http://www.onixcoin.com/static/email/image/yobit-logo.png" alt=""><br> Enlace a Yobit.net </a>
					</p>

					<p style="text-align: center;">Puedes empezar a minar ONX aquí: <br>
						<a href="http://www.onixcoin.com/software" target="_blank"><img src="http://www.onixcoin.com/static/email/image/logo-onix-pequeño.png" alt=""><br> Enlace al tutorial de mineria</a>
					</p><br>
				</center>
			</div><br>
		
	</div>
	<div class="clearfix"></div>
	<footer>
		<div class="col-md-12 col-xs-12">
			<center>
				<h3>Síguenos</h3>
				<div class="navbar-header col-md-12 col-xs-12">
					<ul style="list-style:none;padding:0px">
						<li style="display:inline">
							<a target="_blank" href="https://www.facebook.com/onixcoin"><img src="http://www.onixcoin.com/static/email/image/facebook-gold.png"></a>
						</li>
						<li style="display:inline">
							<a target="_blank" href="https://twitter.com/onix_coin"><img src="http://www.onixcoin.com/static/email/image/twitter-gold.png"></a>
						</li>
						
					</ul>
				</div>
			</center>	
		</div>
	</footer>


</body>
</html>